* {
  box-sizing: border-box;
}

.header {
  display: flex;
  padding: 10px;
  background-color: rgb(69, 69, 97);
}

.logo_image {
  width: 80px;
  height: 80px;
}

.header_title {
  margin: 5px 20px;
  font-size: 50px;
  font-weight: bold;
  color: aliceblue;
}

.up {
  display: flex;
  justify-content: space-between;
}

.text-container {
  width: 48%;
  text-align: justify;
}

.table-container {
  width: 48%;
}

.down {
  display: flex;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: center;
}
